[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
# libzfs must be manually installed
# ceph must be manually installed
flask = "*"

[dev-packages]

[requires]
python_version = "3.10"
